body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.button {
    position: relative;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0 20px;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    animation-delay: 3ms;
    animation-timing-function: ease-in-out;
}

.icon {
    width: 90px;
    height: 80px;
    margin-bottom: 10px;
}

.label {
    font-size: 1.2em;
    font-weight: 200;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
    .icon {
        width: 80px;
        height: 60px;
    }

    .label {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
    }

    .button {
        margin: 10px 0;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .label {
        font-size: 0.9em;
    }
}